.container {
  display: flex;
  align-items: center;
  justify-content: start;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding-inline: 80px;
  padding-block: 30px;
  margin-top: 100px;
  align-items: center;
  background-color: var(--fgdark);
}

form > div {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

form > div > label {
  font-size: 14px;
  font-weight: 500;
}

input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
}

form > div > a {
  font-size: 10px;
  margin-block: 10px;
  color: black;
}

p {
  font-size: 12px;
}

button {
  width: 100px;
}

select {
  position: relative;
  border: none;
  outline: none;
  font-family: "poppins";
  font-size: 12px;
  border-radius: 5px;
}

button {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 2px;
}

button:hover {
  transform: scale(1.05);
  transition-duration: 200ms;
  transition-timing-function: ease;
}
